
header{
background-color: #1E2D4D;
}
.links{
    margin-left: auto;
    padding: 10px;
    color:#A44F74;
}
.dingus{
    justify-content: center;
}
footer{
    background-color: #1E2D4D;
}
.copyright{
    color:#A44F74
}